.modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex; /* Center the modal */
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modalContent {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    width: 90%; 
    max-width: 90%; /* Optional: Limit width on smaller screens */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
  
  .modalClose {
    flex: 0;
    width: 40px;
    align-self: flex-end;
    background-color: var(--woody-brown1);
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 5px;
  }