.deviceRowInMyDevices {
    width: 80%;
    padding: 30px;
    background-color: rgb(188, 188, 188);
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    border-radius: 10px;
}

.interactiveContainer{
    display: flex;
    align-items: center;
}

.chooseRoomArea{
    display: flex;
    align-items: center;
    background-color: rgb(94, 94, 94);
    margin-right: 5px;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.chooseRoomArea button {
    position: relative;
    display: flex;
    align-items: center;
    background-color: gray;
    margin-left: 5px;
}





