.deviceRowInMyDevices {
    width: 80%;
    padding: 30px;
    background-color: rgb(188, 188, 188);
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    border-radius: 10px;
}

.interactiveContainer{
    display: flex;
    flex-direction: column;
    
}

.chooseRoomArea{
    display: flex;
    align-items: center;
    background-color: rgb(94, 94, 94);
    margin-right: 5px;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.chooseRoomArea button {
    position: relative;
    display: flex;
    align-items: center;
    background-color: gray;
    margin-left: 5px;
}

.removeButtonsArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.removeButtonsArea button {
    background-color: rgb(94, 94, 94);
}

.removeButtonsArea button:disabled {
    background-color: rgb(198, 198, 198);
    cursor: not-allowed;
}





